* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 600px;
    border-radius: 18px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    
}

.form-container {
    display: flex;
    width: 100%;
    
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-side {
    flex: 1;
    padding: 40px;
    background: rgba(255, 255, 255, 0.077);
    border-radius: 18px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.3);
}

h2 {
    color: #ffffff;
    margin-bottom: 30px;
    font-size: 24px;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
    
}

label {
    display: block;
    margin-bottom: 8px;
    color: #ffffff;
    font-size: 15px;
}

.form-control {
  
    background-color: transparent;
    width: 100%;
    padding: 10px;
    border: 2px solid #dddddd50;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.077);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.3);

}

.form-control:focus {
    border-color: #ffffff9b;
    outline: none;
}

.form-control::placeholder {
    color: #ffffff;
    
}

.gender-options {
    display: flex;
    gap: 20px;
    margin-top: 5px;
    
}

.radio-label {
    display: flex;
    align-items: center;
    padding: 1px;
    gap: 5px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.163);
    width: 95px;
    border-radius: 18px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.3);
}

.submit-button {
    width: 100%;
    padding: 12px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.077);
    border-radius: 18px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    transition: background-color 0.3s;
}

.submit-button:hover {
    background: rgba(255, 255, 255, 0.294);
    border-radius: 18px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.3);
}

.error-message {
    position: absolute;
    color: #ffe83c;
    font-size: 12px;
    display: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.error-message.active {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

textarea.form-control {
    resize: none;
    min-height: 100px;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.077);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    transition: background-color 0.3s;
}

textarea.form-control::placeholder {
    color: #ffffff; 
    
}

@media (max-width: 768px) {
    .form-container {
        flex-direction: column;
    }
    
    .image-side {
        display: none;
    }
    
    .form-side {
        padding: 20px;
    }
}

html, body {
    height: 100%;
  }
  
  body {
    background: url(https://i.pinimg.com/originals/44/6e/3b/446e3b79395a287ca32f7977dd83b290.jpg);
    background-size: cover;
  }
  
  .firefly {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 0.4vw;
    height: 0.4vw;
    margin: -0.2vw 0 0 9.8vw;
    animation: ease 200s alternate infinite;
    pointer-events: none;
  }
  .firefly::before, .firefly::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform-origin: -10vw;
  }
  .firefly::before {
    background: black;
    opacity: 0.4;
    animation: drift ease alternate infinite;
  }
  .firefly::after {
    background: white;
    opacity: 0;
    box-shadow: 0 0 0vw 0vw yellow;
    animation: drift ease alternate infinite, flash ease infinite;
  }
  
  .firefly:nth-child(1) {
    animation-name: move1;
  }
  .firefly:nth-child(1)::before {
    animation-duration: 9s;
  }
  .firefly:nth-child(1)::after {
    animation-duration: 9s, 7817ms;
    animation-delay: 0ms, 8096ms;
  }
  
  @keyframes move1 {
    0% {
      transform: translateX(-18vw) translateY(34vh) scale(0.43);
    }
    3.8461538462% {
      transform: translateX(35vw) translateY(26vh) scale(0.62);
    }
    7.6923076923% {
      transform: translateX(46vw) translateY(30vh) scale(0.28);
    }
    11.5384615385% {
      transform: translateX(-11vw) translateY(27vh) scale(0.98);
    }
    15.3846153846% {
      transform: translateX(-17vw) translateY(-49vh) scale(1);
    }
    19.2307692308% {
      transform: translateX(38vw) translateY(20vh) scale(0.96);
    }
    23.0769230769% {
      transform: translateX(-43vw) translateY(5vh) scale(0.85);
    }
    26.9230769231% {
      transform: translateX(-7vw) translateY(-32vh) scale(0.78);
    }
    30.7692307692% {
      transform: translateX(42vw) translateY(-27vh) scale(0.29);
    }
    34.6153846154% {
      transform: translateX(-22vw) translateY(-44vh) scale(0.74);
    }
    38.4615384615% {
      transform: translateX(-39vw) translateY(44vh) scale(0.4);
    }
    42.3076923077% {
      transform: translateX(46vw) translateY(-12vh) scale(0.34);
    }
    46.1538461538% {
      transform: translateX(-2vw) translateY(-38vh) scale(0.45);
    }
    50% {
      transform: translateX(-25vw) translateY(16vh) scale(0.85);
    }
    53.8461538462% {
      transform: translateX(26vw) translateY(36vh) scale(0.45);
    }
    57.6923076923% {
      transform: translateX(-21vw) translateY(-5vh) scale(0.55);
    }
    61.5384615385% {
      transform: translateX(-48vw) translateY(-12vh) scale(0.58);
    }
    65.3846153846% {
      transform: translateX(-49vw) translateY(-17vh) scale(0.65);
    }
    69.2307692308% {
      transform: translateX(6vw) translateY(-14vh) scale(0.45);
    }
    73.0769230769% {
      transform: translateX(-21vw) translateY(41vh) scale(0.88);
    }
    76.9230769231% {
      transform: translateX(-18vw) translateY(45vh) scale(0.36);
    }
    80.7692307692% {
      transform: translateX(11vw) translateY(41vh) scale(0.29);
    }
    84.6153846154% {
      transform: translateX(-31vw) translateY(-12vh) scale(0.34);
    }
    88.4615384615% {
      transform: translateX(-30vw) translateY(34vh) scale(0.51);
    }
    92.3076923077% {
      transform: translateX(-2vw) translateY(37vh) scale(0.98);
    }
    96.1538461538% {
      transform: translateX(-30vw) translateY(20vh) scale(0.46);
    }
    100% {
      transform: translateX(-21vw) translateY(-43vh) scale(0.63);
    }
  }
  .firefly:nth-child(2) {
    animation-name: move2;
  }
  .firefly:nth-child(2)::before {
    animation-duration: 10s;
  }
  .firefly:nth-child(2)::after {
    animation-duration: 10s, 9360ms;
    animation-delay: 0ms, 7250ms;
  }
  
  @keyframes move2 {
    0% {
      transform: translateX(-48vw) translateY(-37vh) scale(0.6);
    }
    5.8823529412% {
      transform: translateX(7vw) translateY(-1vh) scale(0.4);
    }
    11.7647058824% {
      transform: translateX(26vw) translateY(3vh) scale(0.41);
    }
    17.6470588235% {
      transform: translateX(49vw) translateY(24vh) scale(0.37);
    }
    23.5294117647% {
      transform: translateX(28vw) translateY(-13vh) scale(0.78);
    }
    29.4117647059% {
      transform: translateX(49vw) translateY(-23vh) scale(0.86);
    }
    35.2941176471% {
      transform: translateX(-28vw) translateY(-26vh) scale(0.57);
    }
    41.1764705882% {
      transform: translateX(-44vw) translateY(-37vh) scale(0.4);
    }
    47.0588235294% {
      transform: translateX(-47vw) translateY(-27vh) scale(0.48);
    }
    52.9411764706% {
      transform: translateX(44vw) translateY(38vh) scale(0.77);
    }
    58.8235294118% {
      transform: translateX(20vw) translateY(6vh) scale(0.92);
    }
    64.7058823529% {
      transform: translateX(46vw) translateY(-27vh) scale(0.46);
    }
    70.5882352941% {
      transform: translateX(23vw) translateY(49vh) scale(0.26);
    }
    76.4705882353% {
      transform: translateX(17vw) translateY(3vh) scale(0.27);
    }
    82.3529411765% {
      transform: translateX(47vw) translateY(-6vh) scale(0.8);
    }
    88.2352941176% {
      transform: translateX(3vw) translateY(-32vh) scale(0.96);
    }
    94.1176470588% {
      transform: translateX(18vw) translateY(-41vh) scale(0.31);
    }
    100% {
      transform: translateX(-43vw) translateY(7vh) scale(0.56);
    }
  }
  .firefly:nth-child(3) {
    animation-name: move3;
  }
  .firefly:nth-child(3)::before {
    animation-duration: 17s;
  }
  .firefly:nth-child(3)::after {
    animation-duration: 17s, 9393ms;
    animation-delay: 0ms, 6466ms;
  }
  
  @keyframes move3 {
    0% {
      transform: translateX(-10vw) translateY(-8vh) scale(0.39);
    }
    5.5555555556% {
      transform: translateX(18vw) translateY(-37vh) scale(0.98);
    }
    11.1111111111% {
      transform: translateX(-10vw) translateY(14vh) scale(0.41);
    }
    16.6666666667% {
      transform: translateX(50vw) translateY(49vh) scale(0.71);
    }
    22.2222222222% {
      transform: translateX(-27vw) translateY(15vh) scale(0.55);
    }
    27.7777777778% {
      transform: translateX(-45vw) translateY(38vh) scale(0.36);
    }
    33.3333333333% {
      transform: translateX(18vw) translateY(-35vh) scale(0.78);
    }
    38.8888888889% {
      transform: translateX(50vw) translateY(44vh) scale(0.62);
    }
    44.4444444444% {
      transform: translateX(-11vw) translateY(-18vh) scale(0.28);
    }
    50% {
      transform: translateX(49vw) translateY(-23vh) scale(0.32);
    }
    55.5555555556% {
      transform: translateX(-49vw) translateY(23vh) scale(0.42);
    }
    61.1111111111% {
      transform: translateX(-7vw) translateY(19vh) scale(0.57);
    }
    66.6666666667% {
      transform: translateX(-48vw) translateY(-3vh) scale(0.76);
    }
    72.2222222222% {
      transform: translateX(35vw) translateY(44vh) scale(0.31);
    }
    77.7777777778% {
      transform: translateX(-19vw) translateY(-5vh) scale(0.8);
    }
    83.3333333333% {
      transform: translateX(-19vw) translateY(48vh) scale(0.67);
    }
    88.8888888889% {
      transform: translateX(-30vw) translateY(-16vh) scale(0.77);
    }
    94.4444444444% {
      transform: translateX(-17vw) translateY(-20vh) scale(0.4);
    }
    100% {
      transform: translateX(-34vw) translateY(1vh) scale(0.27);
    }
  }
  .firefly:nth-child(4) {
    animation-name: move4;
  }
  .firefly:nth-child(4)::before {
    animation-duration: 16s;
  }
  .firefly:nth-child(4)::after {
    animation-duration: 16s, 8112ms;
    animation-delay: 0ms, 5243ms;
  }
  
  @keyframes move4 {
    0% {
      transform: translateX(8vw) translateY(-28vh) scale(0.7);
    }
    4.7619047619% {
      transform: translateX(18vw) translateY(17vh) scale(0.98);
    }
    9.5238095238% {
      transform: translateX(-12vw) translateY(48vh) scale(0.94);
    }
    14.2857142857% {
      transform: translateX(-45vw) translateY(38vh) scale(0.95);
    }
    19.0476190476% {
      transform: translateX(-1vw) translateY(-35vh) scale(0.96);
    }
    23.8095238095% {
      transform: translateX(-9vw) translateY(38vh) scale(0.32);
    }
    28.5714285714% {
      transform: translateX(-36vw) translateY(26vh) scale(0.85);
    }
    33.3333333333% {
      transform: translateX(-23vw) translateY(16vh) scale(0.6);
    }
    38.0952380952% {
      transform: translateX(-44vw) translateY(30vh) scale(1);
    }
    42.8571428571% {
      transform: translateX(-1vw) translateY(26vh) scale(0.35);
    }
    47.619047619% {
      transform: translateX(33vw) translateY(35vh) scale(0.79);
    }
    52.380952381% {
      transform: translateX(5vw) translateY(-2vh) scale(0.61);
    }
    57.1428571429% {
      transform: translateX(17vw) translateY(-48vh) scale(0.65);
    }
    61.9047619048% {
      transform: translateX(8vw) translateY(24vh) scale(0.31);
    }
    66.6666666667% {
      transform: translateX(-19vw) translateY(46vh) scale(0.44);
    }
    71.4285714286% {
      transform: translateX(-38vw) translateY(-17vh) scale(0.35);
    }
    76.1904761905% {
      transform: translateX(-15vw) translateY(-26vh) scale(0.74);
    }
    80.9523809524% {
      transform: translateX(-36vw) translateY(27vh) scale(0.32);
    }
    85.7142857143% {
      transform: translateX(26vw) translateY(-1vh) scale(0.37);
    }
    90.4761904762% {
      transform: translateX(-20vw) translateY(-16vh) scale(0.89);
    }
    95.2380952381% {
      transform: translateX(-5vw) translateY(-48vh) scale(0.58);
    }
    100% {
      transform: translateX(32vw) translateY(-26vh) scale(0.31);
    }
  }
  .firefly:nth-child(5) {
    animation-name: move5;
  }
  .firefly:nth-child(5)::before {
    animation-duration: 11s;
  }
  .firefly:nth-child(5)::after {
    animation-duration: 11s, 9020ms;
    animation-delay: 0ms, 3387ms;
  }
  
  @keyframes move5 {
    0% {
      transform: translateX(32vw) translateY(3vh) scale(0.62);
    }
    4.347826087% {
      transform: translateX(16vw) translateY(-49vh) scale(0.86);
    }
    8.6956521739% {
      transform: translateX(-14vw) translateY(-48vh) scale(0.28);
    }
    13.0434782609% {
      transform: translateX(33vw) translateY(41vh) scale(0.94);
    }
    17.3913043478% {
      transform: translateX(33vw) translateY(8vh) scale(0.88);
    }
    21.7391304348% {
      transform: translateX(14vw) translateY(-33vh) scale(0.56);
    }
    26.0869565217% {
      transform: translateX(-4vw) translateY(-14vh) scale(0.6);
    }
    30.4347826087% {
      transform: translateX(23vw) translateY(16vh) scale(0.65);
    }
    34.7826086957% {
      transform: translateX(12vw) translateY(-24vh) scale(0.74);
    }
    39.1304347826% {
      transform: translateX(-9vw) translateY(-5vh) scale(0.3);
    }
    43.4782608696% {
      transform: translateX(-8vw) translateY(12vh) scale(0.78);
    }
    47.8260869565% {
      transform: translateX(50vw) translateY(-17vh) scale(0.67);
    }
    52.1739130435% {
      transform: translateX(38vw) translateY(42vh) scale(0.68);
    }
    56.5217391304% {
      transform: translateX(-5vw) translateY(-40vh) scale(0.66);
    }
    60.8695652174% {
      transform: translateX(11vw) translateY(17vh) scale(1);
    }
    65.2173913043% {
      transform: translateX(12vw) translateY(-22vh) scale(0.47);
    }
    69.5652173913% {
      transform: translateX(47vw) translateY(-40vh) scale(0.38);
    }
    73.9130434783% {
      transform: translateX(-14vw) translateY(-37vh) scale(0.39);
    }
    78.2608695652% {
      transform: translateX(-13vw) translateY(25vh) scale(0.83);
    }
    82.6086956522% {
      transform: translateX(-2vw) translateY(9vh) scale(0.46);
    }
    86.9565217391% {
      transform: translateX(35vw) translateY(7vh) scale(0.88);
    }
    91.3043478261% {
      transform: translateX(-1vw) translateY(36vh) scale(0.54);
    }
    95.652173913% {
      transform: translateX(45vw) translateY(50vh) scale(0.57);
    }
    100% {
      transform: translateX(36vw) translateY(-48vh) scale(1);
    }
  }
  .firefly:nth-child(6) {
    animation-name: move6;
  }
  .firefly:nth-child(6)::before {
    animation-duration: 14s;
  }
  .firefly:nth-child(6)::after {
    animation-duration: 14s, 7113ms;
    animation-delay: 0ms, 2900ms;
  }
  
  @keyframes move6 {
    0% {
      transform: translateX(9vw) translateY(-36vh) scale(0.89);
    }
    4.1666666667% {
      transform: translateX(-33vw) translateY(-9vh) scale(0.69);
    }
    8.3333333333% {
      transform: translateX(19vw) translateY(42vh) scale(0.38);
    }
    12.5% {
      transform: translateX(-27vw) translateY(31vh) scale(0.93);
    }
    16.6666666667% {
      transform: translateX(1vw) translateY(21vh) scale(0.86);
    }
    20.8333333333% {
      transform: translateX(-20vw) translateY(-11vh) scale(0.74);
    }
    25% {
      transform: translateX(-20vw) translateY(5vh) scale(0.49);
    }
    29.1666666667% {
      transform: translateX(18vw) translateY(-7vh) scale(0.76);
    }
    33.3333333333% {
      transform: translateX(10vw) translateY(-29vh) scale(0.89);
    }
    37.5% {
      transform: translateX(24vw) translateY(-25vh) scale(0.31);
    }
    41.6666666667% {
      transform: translateX(-27vw) translateY(42vh) scale(0.63);
    }
    45.8333333333% {
      transform: translateX(-2vw) translateY(-22vh) scale(0.61);
    }
    50% {
      transform: translateX(27vw) translateY(-23vh) scale(0.37);
    }
    54.1666666667% {
      transform: translateX(45vw) translateY(1vh) scale(0.51);
    }
    58.3333333333% {
      transform: translateX(-16vw) translateY(22vh) scale(0.31);
    }
    62.5% {
      transform: translateX(-35vw) translateY(-9vh) scale(0.57);
    }
    66.6666666667% {
      transform: translateX(-14vw) translateY(-47vh) scale(0.49);
    }
    70.8333333333% {
      transform: translateX(-10vw) translateY(-4vh) scale(0.69);
    }
    75% {
      transform: translateX(1vw) translateY(-15vh) scale(0.26);
    }
    79.1666666667% {
      transform: translateX(-33vw) translateY(6vh) scale(0.73);
    }
    83.3333333333% {
      transform: translateX(38vw) translateY(-33vh) scale(0.44);
    }
    87.5% {
      transform: translateX(12vw) translateY(26vh) scale(0.89);
    }
    91.6666666667% {
      transform: translateX(-29vw) translateY(-10vh) scale(0.3);
    }
    95.8333333333% {
      transform: translateX(-39vw) translateY(-46vh) scale(0.94);
    }
    100% {
      transform: translateX(19vw) translateY(-20vh) scale(0.74);
    }
  }
  .firefly:nth-child(7) {
    animation-name: move7;
  }
  .firefly:nth-child(7)::before {
    animation-duration: 18s;
  }
  .firefly:nth-child(7)::after {
    animation-duration: 18s, 6157ms;
    animation-delay: 0ms, 6611ms;
  }
  
  @keyframes move7 {
    0% {
      transform: translateX(-38vw) translateY(-33vh) scale(0.61);
    }
    3.5714285714% {
      transform: translateX(36vw) translateY(-26vh) scale(0.41);
    }
    7.1428571429% {
      transform: translateX(-19vw) translateY(-27vh) scale(0.85);
    }
    10.7142857143% {
      transform: translateX(-14vw) translateY(48vh) scale(0.99);
    }
    14.2857142857% {
      transform: translateX(-3vw) translateY(-38vh) scale(0.7);
    }
    17.8571428571% {
      transform: translateX(-3vw) translateY(32vh) scale(0.92);
    }
    21.4285714286% {
      transform: translateX(26vw) translateY(-32vh) scale(0.81);
    }
    25% {
      transform: translateX(-47vw) translateY(13vh) scale(0.52);
    }
    28.5714285714% {
      transform: translateX(30vw) translateY(-30vh) scale(0.73);
    }
    32.1428571429% {
      transform: translateX(-16vw) translateY(16vh) scale(0.36);
    }
    35.7142857143% {
      transform: translateX(-19vw) translateY(-21vh) scale(0.72);
    }
    39.2857142857% {
      transform: translateX(16vw) translateY(3vh) scale(0.62);
    }
    42.8571428571% {
      transform: translateX(29vw) translateY(31vh) scale(0.87);
    }
    46.4285714286% {
      transform: translateX(-23vw) translateY(-9vh) scale(0.53);
    }
    50% {
      transform: translateX(-33vw) translateY(-39vh) scale(0.28);
    }
    53.5714285714% {
      transform: translateX(-5vw) translateY(34vh) scale(0.87);
    }
    57.1428571429% {
      transform: translateX(5vw) translateY(-35vh) scale(0.54);
    }
    60.7142857143% {
      transform: translateX(20vw) translateY(18vh) scale(0.94);
    }
    64.2857142857% {
      transform: translateX(-10vw) translateY(33vh) scale(0.58);
    }
    67.8571428571% {
      transform: translateX(15vw) translateY(45vh) scale(0.39);
    }
    71.4285714286% {
      transform: translateX(12vw) translateY(31vh) scale(0.31);
    }
    75% {
      transform: translateX(-9vw) translateY(-30vh) scale(0.94);
    }
    78.5714285714% {
      transform: translateX(-33vw) translateY(1vh) scale(0.7);
    }
    82.1428571429% {
      transform: translateX(4vw) translateY(-23vh) scale(0.68);
    }
    85.7142857143% {
      transform: translateX(-4vw) translateY(20vh) scale(0.96);
    }
    89.2857142857% {
      transform: translateX(32vw) translateY(39vh) scale(0.59);
    }
    92.8571428571% {
      transform: translateX(25vw) translateY(24vh) scale(0.56);
    }
    96.4285714286% {
      transform: translateX(43vw) translateY(-32vh) scale(0.47);
    }
    100% {
      transform: translateX(36vw) translateY(-24vh) scale(0.8);
    }
  }
  .firefly:nth-child(8) {
    animation-name: move8;
  }
  .firefly:nth-child(8)::before {
    animation-duration: 12s;
  }
  .firefly:nth-child(8)::after {
    animation-duration: 12s, 10295ms;
    animation-delay: 0ms, 2385ms;
  }
  
  @keyframes move8 {
    0% {
      transform: translateX(33vw) translateY(29vh) scale(0.79);
    }
    5.2631578947% {
      transform: translateX(0vw) translateY(44vh) scale(0.61);
    }
    10.5263157895% {
      transform: translateX(47vw) translateY(-39vh) scale(0.83);
    }
    15.7894736842% {
      transform: translateX(0vw) translateY(3vh) scale(0.66);
    }
    21.0526315789% {
      transform: translateX(-10vw) translateY(-11vh) scale(0.98);
    }
    26.3157894737% {
      transform: translateX(20vw) translateY(-33vh) scale(0.66);
    }
    31.5789473684% {
      transform: translateX(-8vw) translateY(-34vh) scale(0.93);
    }
    36.8421052632% {
      transform: translateX(40vw) translateY(-31vh) scale(0.3);
    }
    42.1052631579% {
      transform: translateX(-41vw) translateY(33vh) scale(0.47);
    }
    47.3684210526% {
      transform: translateX(-38vw) translateY(35vh) scale(0.87);
    }
    52.6315789474% {
      transform: translateX(-46vw) translateY(-48vh) scale(0.42);
    }
    57.8947368421% {
      transform: translateX(-4vw) translateY(6vh) scale(0.55);
    }
    63.1578947368% {
      transform: translateX(37vw) translateY(-30vh) scale(0.63);
    }
    68.4210526316% {
      transform: translateX(-12vw) translateY(27vh) scale(0.98);
    }
    73.6842105263% {
      transform: translateX(1vw) translateY(-40vh) scale(0.65);
    }
    78.9473684211% {
      transform: translateX(-28vw) translateY(-35vh) scale(0.99);
    }
    84.2105263158% {
      transform: translateX(2vw) translateY(47vh) scale(0.71);
    }
    89.4736842105% {
      transform: translateX(31vw) translateY(21vh) scale(0.62);
    }
    94.7368421053% {
      transform: translateX(-33vw) translateY(21vh) scale(0.63);
    }
    100% {
      transform: translateX(-33vw) translateY(0vh) scale(0.91);
    }
  }
  .firefly:nth-child(9) {
    animation-name: move9;
  }
  .firefly:nth-child(9)::before {
    animation-duration: 13s;
  }
  .firefly:nth-child(9)::after {
    animation-duration: 13s, 9078ms;
    animation-delay: 0ms, 8206ms;
  }
  
  @keyframes move9 {
    0% {
      transform: translateX(-28vw) translateY(-28vh) scale(0.85);
    }
    3.7037037037% {
      transform: translateX(24vw) translateY(-10vh) scale(0.37);
    }
    7.4074074074% {
      transform: translateX(-40vw) translateY(28vh) scale(0.81);
    }
    11.1111111111% {
      transform: translateX(-36vw) translateY(5vh) scale(0.26);
    }
    14.8148148148% {
      transform: translateX(28vw) translateY(40vh) scale(0.51);
    }
    18.5185185185% {
      transform: translateX(2vw) translateY(26vh) scale(0.85);
    }
    22.2222222222% {
      transform: translateX(24vw) translateY(39vh) scale(0.47);
    }
    25.9259259259% {
      transform: translateX(-25vw) translateY(-34vh) scale(0.68);
    }
    29.6296296296% {
      transform: translateX(-1vw) translateY(44vh) scale(0.79);
    }
    33.3333333333% {
      transform: translateX(4vw) translateY(-20vh) scale(0.99);
    }
    37.037037037% {
      transform: translateX(3vw) translateY(27vh) scale(0.32);
    }
    40.7407407407% {
      transform: translateX(34vw) translateY(50vh) scale(0.26);
    }
    44.4444444444% {
      transform: translateX(18vw) translateY(-26vh) scale(0.64);
    }
    48.1481481481% {
      transform: translateX(-18vw) translateY(-19vh) scale(0.57);
    }
    51.8518518519% {
      transform: translateX(-49vw) translateY(27vh) scale(0.79);
    }
    55.5555555556% {
      transform: translateX(-40vw) translateY(-7vh) scale(0.47);
    }
    59.2592592593% {
      transform: translateX(-20vw) translateY(25vh) scale(0.77);
    }
    62.962962963% {
      transform: translateX(9vw) translateY(6vh) scale(0.27);
    }
    66.6666666667% {
      transform: translateX(-11vw) translateY(-31vh) scale(0.66);
    }
    70.3703703704% {
      transform: translateX(-37vw) translateY(-46vh) scale(0.44);
    }
    74.0740740741% {
      transform: translateX(50vw) translateY(-40vh) scale(0.38);
    }
    77.7777777778% {
      transform: translateX(8vw) translateY(-32vh) scale(0.65);
    }
    81.4814814815% {
      transform: translateX(-23vw) translateY(22vh) scale(0.26);
    }
    85.1851851852% {
      transform: translateX(2vw) translateY(21vh) scale(0.26);
    }
    88.8888888889% {
      transform: translateX(-30vw) translateY(25vh) scale(0.62);
    }
    92.5925925926% {
      transform: translateX(10vw) translateY(21vh) scale(0.75);
    }
    96.2962962963% {
      transform: translateX(46vw) translateY(-19vh) scale(0.62);
    }
    100% {
      transform: translateX(-43vw) translateY(-18vh) scale(0.82);
    }
  }
  .firefly:nth-child(10) {
    animation-name: move10;
  }
  .firefly:nth-child(10)::before {
    animation-duration: 9s;
  }
  .firefly:nth-child(10)::after {
    animation-duration: 9s, 5541ms;
    animation-delay: 0ms, 3780ms;
  }
  
  @keyframes move10 {
    0% {
      transform: translateX(-30vw) translateY(14vh) scale(0.47);
    }
    4% {
      transform: translateX(-14vw) translateY(50vh) scale(0.84);
    }
    8% {
      transform: translateX(-19vw) translateY(18vh) scale(0.59);
    }
    12% {
      transform: translateX(-39vw) translateY(-31vh) scale(0.3);
    }
    16% {
      transform: translateX(10vw) translateY(-1vh) scale(0.35);
    }
    20% {
      transform: translateX(-39vw) translateY(-37vh) scale(0.6);
    }
    24% {
      transform: translateX(-13vw) translateY(11vh) scale(0.46);
    }
    28% {
      transform: translateX(-48vw) translateY(-32vh) scale(0.54);
    }
    32% {
      transform: translateX(5vw) translateY(-20vh) scale(0.94);
    }
    36% {
      transform: translateX(21vw) translateY(17vh) scale(0.86);
    }
    40% {
      transform: translateX(-17vw) translateY(-21vh) scale(0.33);
    }
    44% {
      transform: translateX(39vw) translateY(-43vh) scale(0.27);
    }
    48% {
      transform: translateX(17vw) translateY(4vh) scale(0.7);
    }
    52% {
      transform: translateX(50vw) translateY(8vh) scale(0.54);
    }
    56% {
      transform: translateX(-11vw) translateY(-38vh) scale(0.44);
    }
    60% {
      transform: translateX(8vw) translateY(41vh) scale(0.68);
    }
    64% {
      transform: translateX(-43vw) translateY(-47vh) scale(0.33);
    }
    68% {
      transform: translateX(-48vw) translateY(49vh) scale(0.97);
    }
    72% {
      transform: translateX(19vw) translateY(9vh) scale(0.44);
    }
    76% {
      transform: translateX(-13vw) translateY(43vh) scale(0.5);
    }
    80% {
      transform: translateX(-10vw) translateY(37vh) scale(0.92);
    }
    84% {
      transform: translateX(18vw) translateY(18vh) scale(0.48);
    }
    88% {
      transform: translateX(-13vw) translateY(-15vh) scale(0.34);
    }
    92% {
      transform: translateX(40vw) translateY(-3vh) scale(0.83);
    }
    96% {
      transform: translateX(-5vw) translateY(-32vh) scale(0.63);
    }
    100% {
      transform: translateX(-1vw) translateY(43vh) scale(0.4);
    }
  }
  .firefly:nth-child(11) {
    animation-name: move11;
  }
  .firefly:nth-child(11)::before {
    animation-duration: 14s;
  }
  .firefly:nth-child(11)::after {
    animation-duration: 14s, 6838ms;
    animation-delay: 0ms, 4349ms;
  }
  
  @keyframes move11 {
    0% {
      transform: translateX(49vw) translateY(23vh) scale(0.96);
    }
    4.5454545455% {
      transform: translateX(19vw) translateY(16vh) scale(0.7);
    }
    9.0909090909% {
      transform: translateX(39vw) translateY(34vh) scale(0.68);
    }
    13.6363636364% {
      transform: translateX(12vw) translateY(50vh) scale(0.51);
    }
    18.1818181818% {
      transform: translateX(6vw) translateY(-31vh) scale(0.84);
    }
    22.7272727273% {
      transform: translateX(32vw) translateY(35vh) scale(0.47);
    }
    27.2727272727% {
      transform: translateX(31vw) translateY(-47vh) scale(0.55);
    }
    31.8181818182% {
      transform: translateX(37vw) translateY(-4vh) scale(0.8);
    }
    36.3636363636% {
      transform: translateX(40vw) translateY(-49vh) scale(0.64);
    }
    40.9090909091% {
      transform: translateX(45vw) translateY(8vh) scale(0.72);
    }
    45.4545454545% {
      transform: translateX(0vw) translateY(11vh) scale(0.87);
    }
    50% {
      transform: translateX(-12vw) translateY(-10vh) scale(1);
    }
    54.5454545455% {
      transform: translateX(8vw) translateY(14vh) scale(0.52);
    }
    59.0909090909% {
      transform: translateX(18vw) translateY(-30vh) scale(0.41);
    }
    63.6363636364% {
      transform: translateX(-46vw) translateY(34vh) scale(0.79);
    }
    68.1818181818% {
      transform: translateX(-24vw) translateY(35vh) scale(0.46);
    }
    72.7272727273% {
      transform: translateX(6vw) translateY(4vh) scale(0.97);
    }
    77.2727272727% {
      transform: translateX(1vw) translateY(32vh) scale(0.55);
    }
    81.8181818182% {
      transform: translateX(-7vw) translateY(5vh) scale(0.92);
    }
    86.3636363636% {
      transform: translateX(30vw) translateY(29vh) scale(0.46);
    }
    90.9090909091% {
      transform: translateX(-9vw) translateY(-3vh) scale(0.98);
    }
    95.4545454545% {
      transform: translateX(14vw) translateY(22vh) scale(0.83);
    }
    100% {
      transform: translateX(-40vw) translateY(28vh) scale(0.74);
    }
  }
  .firefly:nth-child(12) {
    animation-name: move12;
  }
  .firefly:nth-child(12)::before {
    animation-duration: 14s;
  }
  .firefly:nth-child(12)::after {
    animation-duration: 14s, 9065ms;
    animation-delay: 0ms, 7149ms;
  }
  
  @keyframes move12 {
    0% {
      transform: translateX(13vw) translateY(-18vh) scale(0.64);
    }
    4% {
      transform: translateX(-26vw) translateY(50vh) scale(0.8);
    }
    8% {
      transform: translateX(35vw) translateY(-35vh) scale(0.36);
    }
    12% {
      transform: translateX(-1vw) translateY(-25vh) scale(0.37);
    }
    16% {
      transform: translateX(47vw) translateY(14vh) scale(0.67);
    }
    20% {
      transform: translateX(-11vw) translateY(-4vh) scale(0.79);
    }
    24% {
      transform: translateX(-6vw) translateY(4vh) scale(0.97);
    }
    28% {
      transform: translateX(26vw) translateY(-22vh) scale(0.55);
    }
    32% {
      transform: translateX(48vw) translateY(49vh) scale(0.42);
    }
    36% {
      transform: translateX(-46vw) translateY(-43vh) scale(0.91);
    }
    40% {
      transform: translateX(10vw) translateY(48vh) scale(0.39);
    }
    44% {
      transform: translateX(7vw) translateY(-3vh) scale(0.32);
    }
    48% {
      transform: translateX(-41vw) translateY(18vh) scale(0.9);
    }
    52% {
      transform: translateX(7vw) translateY(-26vh) scale(0.44);
    }
    56% {
      transform: translateX(23vw) translateY(-3vh) scale(0.45);
    }
    60% {
      transform: translateX(-47vw) translateY(-37vh) scale(0.74);
    }
    64% {
      transform: translateX(6vw) translateY(40vh) scale(0.68);
    }
    68% {
      transform: translateX(9vw) translateY(-25vh) scale(0.68);
    }
    72% {
      transform: translateX(28vw) translateY(-13vh) scale(0.43);
    }
    76% {
      transform: translateX(-41vw) translateY(-42vh) scale(0.46);
    }
    80% {
      transform: translateX(-34vw) translateY(27vh) scale(0.51);
    }
    84% {
      transform: translateX(38vw) translateY(9vh) scale(0.36);
    }
    88% {
      transform: translateX(-23vw) translateY(-37vh) scale(0.99);
    }
    92% {
      transform: translateX(41vw) translateY(-46vh) scale(0.62);
    }
    96% {
      transform: translateX(-33vw) translateY(-34vh) scale(0.65);
    }
    100% {
      transform: translateX(2vw) translateY(-21vh) scale(0.85);
    }
  }
  .firefly:nth-child(13) {
    animation-name: move13;
  }
  .firefly:nth-child(13)::before {
    animation-duration: 16s;
  }
  .firefly:nth-child(13)::after {
    animation-duration: 16s, 5329ms;
    animation-delay: 0ms, 1762ms;
  }
  
  @keyframes move13 {
    0% {
      transform: translateX(-14vw) translateY(9vh) scale(0.78);
    }
    4% {
      transform: translateX(-6vw) translateY(46vh) scale(0.98);
    }
    8% {
      transform: translateX(-37vw) translateY(19vh) scale(0.69);
    }
    12% {
      transform: translateX(-40vw) translateY(-47vh) scale(0.44);
    }
    16% {
      transform: translateX(-20vw) translateY(-39vh) scale(0.85);
    }
    20% {
      transform: translateX(-47vw) translateY(13vh) scale(0.55);
    }
    24% {
      transform: translateX(-12vw) translateY(-20vh) scale(0.89);
    }
    28% {
      transform: translateX(32vw) translateY(-9vh) scale(0.51);
    }
    32% {
      transform: translateX(46vw) translateY(36vh) scale(0.7);
    }
    36% {
      transform: translateX(23vw) translateY(-3vh) scale(0.78);
    }
    40% {
      transform: translateX(-35vw) translateY(-39vh) scale(0.95);
    }
    44% {
      transform: translateX(46vw) translateY(9vh) scale(0.54);
    }
    48% {
      transform: translateX(25vw) translateY(-5vh) scale(0.4);
    }
    52% {
      transform: translateX(-2vw) translateY(44vh) scale(0.84);
    }
    56% {
      transform: translateX(-45vw) translateY(14vh) scale(0.41);
    }
    60% {
      transform: translateX(26vw) translateY(5vh) scale(0.63);
    }
    64% {
      transform: translateX(-35vw) translateY(-2vh) scale(0.86);
    }
    68% {
      transform: translateX(20vw) translateY(7vh) scale(0.51);
    }
    72% {
      transform: translateX(-30vw) translateY(-49vh) scale(0.26);
    }
    76% {
      transform: translateX(-2vw) translateY(-31vh) scale(0.57);
    }
    80% {
      transform: translateX(45vw) translateY(5vh) scale(0.73);
    }
    84% {
      transform: translateX(26vw) translateY(22vh) scale(0.33);
    }
    88% {
      transform: translateX(-27vw) translateY(-3vh) scale(0.8);
    }
    92% {
      transform: translateX(43vw) translateY(-27vh) scale(0.51);
    }
    96% {
      transform: translateX(25vw) translateY(11vh) scale(0.26);
    }
    100% {
      transform: translateX(-49vw) translateY(-3vh) scale(0.8);
    }
  }
  .firefly:nth-child(14) {
    animation-name: move14;
  }
  .firefly:nth-child(14)::before {
    animation-duration: 18s;
  }
  .firefly:nth-child(14)::after {
    animation-duration: 18s, 9429ms;
    animation-delay: 0ms, 8233ms;
  }
  
  @keyframes move14 {
    0% {
      transform: translateX(-49vw) translateY(28vh) scale(0.94);
    }
    5.8823529412% {
      transform: translateX(49vw) translateY(-23vh) scale(0.74);
    }
    11.7647058824% {
      transform: translateX(-11vw) translateY(31vh) scale(0.74);
    }
    17.6470588235% {
      transform: translateX(-4vw) translateY(45vh) scale(0.46);
    }
    23.5294117647% {
      transform: translateX(31vw) translateY(5vh) scale(0.72);
    }
    29.4117647059% {
      transform: translateX(32vw) translateY(19vh) scale(0.8);
    }
    35.2941176471% {
      transform: translateX(35vw) translateY(-40vh) scale(0.77);
    }
    41.1764705882% {
      transform: translateX(-46vw) translateY(46vh) scale(0.59);
    }
    47.0588235294% {
      transform: translateX(14vw) translateY(-29vh) scale(0.75);
    }
    52.9411764706% {
      transform: translateX(-28vw) translateY(-14vh) scale(0.71);
    }
    58.8235294118% {
      transform: translateX(17vw) translateY(3vh) scale(0.85);
    }
    64.7058823529% {
      transform: translateX(34vw) translateY(-4vh) scale(0.58);
    }
    70.5882352941% {
      transform: translateX(35vw) translateY(-25vh) scale(0.81);
    }
    76.4705882353% {
      transform: translateX(-18vw) translateY(-16vh) scale(0.46);
    }
    82.3529411765% {
      transform: translateX(10vw) translateY(-36vh) scale(0.36);
    }
    88.2352941176% {
      transform: translateX(25vw) translateY(43vh) scale(0.55);
    }
    94.1176470588% {
      transform: translateX(-2vw) translateY(13vh) scale(0.36);
    }
    100% {
      transform: translateX(41vw) translateY(-36vh) scale(0.35);
    }
  }
  .firefly:nth-child(15) {
    animation-name: move15;
  }
  .firefly:nth-child(15)::before {
    animation-duration: 11s;
  }
  .firefly:nth-child(15)::after {
    animation-duration: 11s, 8729ms;
    animation-delay: 0ms, 6386ms;
  }
  
  @keyframes move15 {
    0% {
      transform: translateX(48vw) translateY(-16vh) scale(0.66);
    }
    5% {
      transform: translateX(-33vw) translateY(-22vh) scale(0.31);
    }
    10% {
      transform: translateX(-39vw) translateY(-44vh) scale(0.29);
    }
    15% {
      transform: translateX(6vw) translateY(50vh) scale(0.84);
    }
    20% {
      transform: translateX(45vw) translateY(32vh) scale(0.45);
    }
    25% {
      transform: translateX(-26vw) translateY(23vh) scale(0.45);
    }
    30% {
      transform: translateX(39vw) translateY(-49vh) scale(0.34);
    }
    35% {
      transform: translateX(33vw) translateY(22vh) scale(0.57);
    }
    40% {
      transform: translateX(41vw) translateY(-42vh) scale(0.94);
    }
    45% {
      transform: translateX(-21vw) translateY(-10vh) scale(0.89);
    }
    50% {
      transform: translateX(50vw) translateY(26vh) scale(0.39);
    }
    55% {
      transform: translateX(-45vw) translateY(-30vh) scale(0.37);
    }
    60% {
      transform: translateX(2vw) translateY(42vh) scale(0.64);
    }
    65% {
      transform: translateX(-8vw) translateY(-36vh) scale(0.47);
    }
    70% {
      transform: translateX(-19vw) translateY(-34vh) scale(0.64);
    }
    75% {
      transform: translateX(-43vw) translateY(43vh) scale(0.48);
    }
    80% {
      transform: translateX(27vw) translateY(-7vh) scale(0.63);
    }
    85% {
      transform: translateX(22vw) translateY(9vh) scale(0.8);
    }
    90% {
      transform: translateX(-35vw) translateY(-33vh) scale(0.55);
    }
    95% {
      transform: translateX(-16vw) translateY(-16vh) scale(0.89);
    }
    100% {
      transform: translateX(-48vw) translateY(-44vh) scale(0.92);
    }
  }
  @keyframes drift {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes flash {
    0%, 30%, 100% {
      opacity: 0;
      box-shadow: 0 0 0vw 0vw yellow;
    }
    5% {
      opacity: 1;
      box-shadow: 0 0 2vw 0.4vw yellow;
    }
  }